{% extends 'mainpage/wrapper.html'%}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img1}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img2}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img3}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img4}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img5}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
            <div class="col-xl-4">
                <div class="card" >
                    <div class="card-img"><img class="card-img-top" src="{{players.img6}}" alt="Card image cap"></div>
                    
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="players-name">
                    <h3>{{players.name}}</h3>
                </div>
            </div>
            <div class="col-xl-12 text-dark">
                <p>{{players.description}}</p>
            </div>
            <div class="col-xl-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{players.videp}}" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}